<h1>Doctor</h1>

<h2>Appointments</h2><br>

    <ul>
    
    <% @doctor.appointments.each do |app| %>
        <li><%= link_to app.patient.name, patient_path(app.patient) %> Appointment time: <%= app.appointment_datetime.strftime("%B %e, %Y at %k:%M") %></li> 
    <% end %>

   
